######## Requirements needed ###########
# For general access to API Clients
apiclient

# For access to http requests
httplib2

# To access the Google API & the Gmail API in particular
google-api-python-client-py3
oauth2client

# To parse the actual data that we created
bs4

# To run the actual classifier
tf-nightly-gpu
keras


#### User Data ######
# The credentials to use the actual app with Google API
./src/configuration_files/credentials.json

# The actual file that contains all the user keys
./src/configuration_files/keys.py
